* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(109, 113, 117);
    padding: 20px;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin-bottom: 40px;
}

#objetivos {
    display: flex;
    flex-direction: column;
}

#introducao {
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#introducao h1 {
    margin-bottom: 5px;
    line-height: normal;
}

#introducao {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}


nav {
    font-size: small;
    display: flex;
    gap: 15px;
}

.descricao {
    padding: 20px;
    display: flex;
    align-items: center;
}

#logo img{
    width:100px;

}

footer {
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
}
 main h2 {
    text-align: center;
 }

 #servicos-proximos h2 {
    margin-top: 30px;
    font-size: 30px;
}

#servicos {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

table {
    width: 100%;
}

th {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    padding: 15px;
}

td {
    width: 33%;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.imagem {
    background-color: rgba(255, 255, 255, 0.4);
}

td img {
    width: 100%;
    max-width: 500px;
}

.preco {
    background-color: rgb(11, 22, 54);
}

#objetivo {
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    display: inline-block;
}
